<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eocencle.dasislcy.dao.ChoiceQuestionMapper">
  <resultMap id="BaseResultMap" type="org.eocencle.dasislcy.entity.ChoiceQuestionEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TYPE" jdbcType="TINYINT" property="type" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="ANSWER" jdbcType="INTEGER" property="answer" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="getChoiceQuestionsBySubjectId" parameterType="org.eocencle.dasislcy.entity.SubjectQuestionEntity" resultMap="BaseResultMap">
    SELECT b.ID, b.TYPE, b.TITLE, b.CREATE_TIME, b.UPDATE_TIME
    FROM subject_question a
    LEFT JOIN choice_question b
    ON a.QUESTION_ID = b.ID
    WHERE a.QUESTION_TYPE = 1 AND a.SUBJECT_ID = #{subjectId}
    <if test="null != chapterId and 0 != chapterId">
      AND a.CHAPTER_ID = #{chapterId}
    </if>
    <if test="null != outlineId and 0 != outlineId">
      AND a.OUTLINE_ID = #{outlineId}
    </if>
  </select>
</mapper>