<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eocencle.dasislcy.dao.ChoiceQuestionMapper">
  <resultMap id="BaseResultMap" type="org.eocencle.dasislcy.entity.ChoiceQuestionEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TYPE" jdbcType="BIT" property="type" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <select id="getChoiceQuestionsBySubjectId" parameterType="int" resultMap="BaseResultMap">
    SELECT b.ID, b.TYPE, b.TITLE, b.CREATE_TIME, b.UPDATE_TIME FROM subject_question a
    LEFT JOIN choice_question b
    ON a.QUESTION_ID = b.ID
    WHERE a.QUESTION_TYPE = 1 AND a.SUBJECT_ID = #{_parameter}
  </select>
</mapper>